### Using the clipboard with pandas is helpful for quick analysis
Reading and writing to the clipboard

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Open file and copy a section
# df = pd.read_clipboard()
# df

In [3]:
csv_url = 'https://talkpython.fm/2019_customer_transactions.csv'
df = pd.read_csv(csv_url, parse_dates=['invoice_date_time'])

In [4]:
date_filter = df['invoice_date_time'].between('1-1-2019', '3-31-2019')
qty_filter = df['qty'] >= 5
product_filter = df['category'].isin(['pens'])
df['special_pen_sale'] = False
df.loc[date_filter & qty_filter & product_filter, 'special_pen_sale'] = True

In [5]:
df.query('special_pen_sale == True')

,cust_num,sku,category,qty,list_price,discount_rate,invoice_price,invoice_num,invoice_date_time,invoice_total,special_pen_sale
1,H79033,PB24,pens,5,3.0,0.24,2.28,86854,2019-01-17 03:17:41.873383,11.40,True
2,U23721,PB24,pens,14,3.0,0.13,2.61,21950,2019-03-03 21:22:11.135135,36.54,True
4,K89557,PG22,pens,10,3.0,0.06,2.82,35154,2019-02-27 20:19:52.681473,28.20,True
35,N33530,PB24,pens,63,3.0,0.08,2.76,74659,2019-03-30 07:45:45.818329,173.88,True
49,G05537,PB200,pens,8,3.0,0.09,2.73,83053,2019-03-03 18:35:46.064656,21.84,True
...,...,...,...,...,...,...,...,...,...,...,...
1099952,F21295,PB24,pens,14,3.0,0.32,2.04,33548,2019-03-05 01:30:39.349739,28.56,True
1099965,S44897,PG22,pens,7,3.0,0.26,2.22,94625,2019-01-19 02:56:49.115738,15.54,True
1099979,Y33924,PB21,pens,40,3.0,0.10,2.70,82434,2019-02-09 14:43:58.807008,108.00,True
1099982,X59522,PB24,pens,7,3.0,0.15,2.55,955,2019-02-14 13:34:12.734684,17.85,True
1099986,O75761,PG22,pens,35,3.0,0.14,2.58,2701,2019-01-19 18:16:25.534135,90.30,True

In [6]:
df.query('special_pen_sale == True').to_clipboard()

In [7]:
df.query('special_pen_sale == True').agg({'invoice_total': 'sum'})

invoice_total    5055839.16
dtype: float64